<div *ngIf="httpResponse">
  {{ httpResponse.message }}
  <br>
  {{ httpResponse | json }}
</div>

<div *ngIf="httpResponse" class="container">
  <div class="content contact-list">
    <div class="card card-default">
      <div class="card-header align-items-center px-3 px-md-5">
        <h2>Patients Board</h2>
        <button type="button" class="btn btn-primary">Add Patient</button>
      </div>
      <div class="card-body px-3 px-md-5">
        <div class="row">
          <div *ngFor="let patient of httpResponse.data" class="col-lg-6 col-xl-4 col-md-6 col-sm-12">
            <div class="card card-default p-4">

              <a href="javascript:0" class="media text-secondary" data-toggle="modal" data-target="">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" />
                <div class="media-body">
                  <h5 class="mt-0 mb-2 text-dark">{{ patient.first_name }} {{ patient.last_name }}</h5>
                
                  <ul class="list-unstyled text-somke text-smoke">
                    <li class="d-flex">
                      <i class="mdi mdi-map mr-1"></i>
                      <span>{{ patient.address }}</span>
                    </li>
                    <li class="d-flex">
                      <i class="mdi mdi-email mr-1"></i>
                      <span>{{ patient.email }}</span>
                    </li>
                    <li class="d-flex">
                      <i class="mdi mdi-phone mr-1"></i>
                      <span>{{ patient.phone }}</span>
                    </li>
                  </ul>
                
                </div>




              </a>


              
              
              
              
              <!-- <div class="team-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Author Picture">
              </div>
              <h4 class="team-name">Emanuel Ortega</h4><a class="team-contact-link" href="tel:+19871625346"><i class="fe-icon-phone"></i>&nbsp;+1 (987) 162 53 46</a><a class="team-contact-link" href="mailto:info@example.com"><i class="fe-icon-mail"></i>&nbsp;info@example.com</a>
              <div class="team-social-bar-wrap">
                  <div class="team-social-bar">
                      <a class="social-btn sb-style-1 sb-twitter" href="#">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a class="social-btn sb-style-1 sb-github" href="#">
                          <i class="fa fa-github"></i>
                      </a>
                      <a class="social-btn sb-style-1 sb-stackoverflow" href="#">
                          <i class="fa fa-linkedin"></i>
                      </a>
                      <a class="social-btn sb-style-1 sb-skype" href="#">
                          <i class="fa fa-skype"></i>
                      </a>
                  </div>
              </div> -->


            </div>

            
              




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
